@import "tailwindcss";
/* RTL SUPPORT */
[dir="rtl"] .rtl\:text-right {
    text-align: right;
}

[dir="rtl"] .rtl\:text-left {
    text-align: left;
}

[dir="rtl"] .rtl\:mr-auto {
    margin-right: auto;
    margin-left: 0;
}

[dir="rtl"] .rtl\:ml-auto {
    margin-left: auto;
    margin-right: 0;
}

/* example for margins */
[dir="rtl"] .rtl\:ml-8 {
    margin-left: 0;
    margin-right: 2rem;
}

